
.action-1
  border-radius: 50px
  background: linear-gradient(to right, #863981, #CA2D82)
  // background: linear-gradient(to right, rgba(134,57,129, .8), rgba(202,45,130,.9))
  // background: linear-gradient(to right, #111, #fff)
  // box-shadow: 20px 20px 20px rgb(0,0,0,.4)
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.75)
  // border: 3px dotted yellow
  width: 80%
  max-width: 1000px
  height 15em
  // @media(max-width:1000px)
  //   height 13em
  // height 20vw
  align-items: flex-end
  margin: auto
  margin-top: -5em
  display: flex
  position: relative
  padding: 1em
  > .img
    pointer-events: none
    img
      width: 50%
      height: auto
    @media(max-width:650px)
      display: none
    filter: drop-shadow(0 0 5px white) drop-shadow(2.5px 5px 15px black)
  > .div
    margin-left: -4em
    margin-left: -10%
    width: 60%
    @media(max-width:650px)
      width: 100%
      margin-left: 0

    font-size: 2em
    @media(max-width:900px)
      font-size: 1.8em

    > .p
      color white
      text-shadow: 0 0 3px black, 0 0 5px white, 2px 2px 3px black
    text-align: center
    > a .button
      cursor: pointer
      text-shadow: 0 0 3px white
      font-size: 1.3em
      font-weight: 700
      color: #222
      // font-size: 1.3vh
      background: linear-gradient(to right, #E4C22C, #F8B144)
      border-radius: 50px
      box-shadow: 10px 10px 10px rgb(0,0,0,.4)
      padding .5em
      @media(max-width:1000px)
        padding .1em
      &:active
        box-shadow: 0 0 10px rgb(0,0,0,.4)
      @media(max-width:1068px)
        font-size: .8em
        padding .2em .5em
        margin-bottom: 1em



.testimonial
  // border: 3px dotted blue
  // > *
  //   border: 3px dotted blue
  color white
  background: #009cff
  font-size: 1.3em
  margin: 10vh auto
  display: flex
  align-items: center
  justify-content: center
  // justify-content: space-around
  // @media(min-width:1366px)

  @media(max-width:1068px)
    flex-flow: column
  .p
    text-align: center
    max-width: 600px
    margin-right: 1vw
    // @media(min-width:1068px)
    //   margin-left: 10vw
    //   margin-right: 5vw
    // @media(max-width:1068px)
    //   margin-bottom: 5vw
    // width: 30%
    flex-grow: 3
  .youtube
    background: black
    iframe
      max-width: 100%
    @media(min-width:1068px)
      margin-left: 1vw

.action-2
  display: flex
  align-items: center
  position: relative
  max-width: 900px
  margin: 2em auto
  @media(max-width:900px)
    flex-direction: column
  > *
    @media(min-width:900px)
      width 50%
  > .img
    pointer-events: none
    position: relative
    // max-width: 80%
    @media(min-width:900px)
      right: 100px
    > .img
      display: block
      margin: auto
      max-width: 100%
      @media(max-width:900px)
        max-width: 80%
      // width: 600px
    z-index: 1
  > .side
    position: relative
    border-radius: 30px
    background: linear-gradient(to bottom, rgb(253, 251, 250) 0%, rgb(214, 206, 200) 40%)
    text-align: center
    padding: 1.3em
    font-size: 1.4em
    > .heading
      background: #6A2977
      color: white
      padding: 1em 2em
      // margin: 1em
    > .delivery
      font-size: .8em
      font-weight: bold
      // border 1px solid
      display: flex
      > *
        width: 50%
        margin 1em .25em
      > .label
        text-align: right
      > .data
        text-align: left

    .button
      cursor: pointer
      font-size: 1.5em
      font-weight: bold
      padding: 1em 2em
      border-radius: 30px
      &:not(:active)
        box-shadow: 5px 5px 15px black
      background: orange
    .shield
      margin-top: 2em
      font-size: .6em
      .img
        max-width: 3em
    .footer
      font-size: .6em

.ribbon
  // border: 2px dotted white
  > *
    // border: 2px dotted white
    max-width: 1000px
    margin: auto

  margin-top 2em
  background: #6A2977
  text-align: center
  .img
    max-width: 100px
    margin-top: 1em
  color white
  font-size: 1.2em
  padding: 1em 2em
  .p
    margin: 1em auto
  // padding-bottom: 75px

