form
  margin: auto
  width: 400px

  h2
    color: #fff
    margin-bottom: 0;
    filter: drop-shadow(0 0 5px #904be6);
    text-shadow: 0 0 5px #532c77;

  .seperator
    width: 100%
    height: 5px;
    background: #904be6;
    box-shadow: 5px 5px 10px #000;
    margin: 0 auto;

  div div
    margin: 1rem 0

  input, select
    padding: 0.5rem 1rem
    width: 100%
    font-size: 0.9rem;
    font-weight: 100;
    box-sizing: border-box;

  .error
    text-align: center
    color: #fff
    padding: 1rem 0
    text-shadow: 0 0 5px crimson;

  button.continue
    border: 0;
    margin: auto;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 0;
    padding: .6rem 1rem;
    background: #904be6;
    box-shadow: 5px 5px 10px #000;
    display: flex;
    width: 180px;
    justify-content: center;
    
    span
      margin-left: auto;
    span:last-child
      align-self: flex-end


    &:hover
      background: #a801fe

    &:focus, &:visited
      background: #a801fe


