

.toast
  transition: .5s
  position: fixed
  top: 0
  right: 0

  z-index: 1000
  .div
    transition: 1s
    cursor: pointer
    border: 1px solid rgba(255,255,255,.5)
    background: rgba(0,0,0,.5)
    color white
    border-radius: 1em
    padding: 1em
    margin: 1em
    box-shadow: 3px 3px 10px rgba(0,0,0,.5)
    // min-width: 200px
    // min-height: 200px
