body
  width: 100%
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Nunito', sans-serif;
    font-weight: 100
}

.app
  // background: #E8E8E8
  // font-family: Nunito, Helvetica, Arial, Lucida, sans-serif
  font-family: nunito, roboto, helvetica, arial, lucida, sans-serif
  // font-family: Calibri
  // @media(max-width: 600px)
  //   font-size: .8em
// reportIntro

.header, .component, .quiz
  background: #9559CE
  color: white
  border: 1px solid transparent

.img
    max-width: 300px
    width: 100px
p
  line-height: 1.5em


