.container
  position: relative

.header
  position: absolute
  width: 100%
  z-index: 2
  filter: drop-shadow(3px 3px 5px #000);
  .img
    display: block
    margin: 1em auto
    width: 200px
    max-width: 90%
    @media(max-width:400px)
      max-width: 50%
  .sliderImageLoveCompat &
    bottom 0

.content
  position: relative
  height: 100%
  height: 100vh
  background-position: 50% 0
  background-size: cover
  // margin-bottom: 10em

.content:after
  content: ' '
  display: block
  width: 100%
  height .5em
  background-image: linear-gradient(to right, #6A2977, #009ED5)
  position: absolute
  bottom: 0px

.current-percent
  z-index: 1000
  transition: 1000ms
  content ' '
  display: block
  height 2px
  background: white
  position: absolute
  top: 0

.h1
  // border: 3px dotted yellow
  z-index: 1
  font-size: 2em
  @media(max-width:500px)
    font-size: 1.5em
  font-weight: lighter
  font-stretch: ultra-condensed
  letter-spacing: .09em
  word-spacing: .1em
  text-align: center
  color white
  margin-top: 1em
  margin-top: 80px
  .sliderImageLoveCompat &
    margin-top: 1em
  position: absolute
  width: 100%
  text-shadow:
    3px 3px 10px black
  .sliderImageLoveCompat &
    display: none
  .name
    font-weight: bold
    margin-right: 1em
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d611ff, 0 0 40px #d611ff, 0 0 70px #d611ff, 0 0 80px #d611ff, 0 0 100px #d611ff, 0 0 150px #d611ff;



.slider
  display: flex
  flex-direction: column
  .image
    order: -1

.text
  position: absolute
  top: 0
  // z-index: 1

  // background black

  // .free-reading-ended &
  //   pointer-events: none

  &
  *
    width: 100%
    height: 100%

  width: 80% !important
  margin-left: 10% !important
  width: 50% !important
  margin-left: 25% !important

  text-align: center

  // font-size: 3vw
  font-size: 1.5em
  @media(min-width:500px)
    font-size: 2.5em

  // line-height: 1.5em
  font-weight: 300

  color white
  text-shadow:
    0 0 10px black,
    3px 6px 8px black,
    1px 2px 5px black,
    0 0 20px white

  .markup
    // background: yellow
    position: absolute
    display: flex
    flex-flow: column
    justify-content: center


  .sliderImageLoveCompat &
    position: relative
    .markup
      justify-content: flex-start
    // @media(min-width:800px)
    @media(max-aspect-ratio:16/10)
      position: absolute
      .markup
        justify-content: center


.sliderImage
  // border 2px dotted orange
  width: 100%
  height: 100%
  position: relative
  > *
    // border 2px dotted yellow
    display: flex
    width: 100%
    height: 100%
    position: absolute

.image
  border 2px dotted orange
  > *
    border 2px dotted yellow
    display: block
    width: 100%
    height: 100%
    > *
      border 2px dotted blue
  position: relative
  text-align: center
  // z-index: -1
  height: 100%
  .displayImage

  .foreground
    opacity: .7
    width: 100%
    height: 100%
    .sliderImageLoveCompat &
      height: auto

    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    // .sliderImageLoveCompat &
    //   align-items: flex-start

    .img
      max-width: 100%
      .sliderImageLoveCompat &
        max-width: 100%
        @media(max-width:800px)
          max-width: 800px
        @media(max-width:500px)
          max-width: 150%
          margin-left: -25%


.play-pause
  position: absolute
  top:50vh
  left:50vw
  margin-left: -60px
  margin-top: -60px
  filter: drop-shadow(2px 4px 6px black)
  z-index: 2
  cursor: pointer
  &:not(.visible)
    display: none


a.button
  text-decoration: none

.rest
  // border: 3px dotted yellow
  // background: black
  // z-index: 21
  margin-top: -20vh
  // margin-top: -50vh

// .free-reading-ended .content
//   pointer-events: none


.action-1
  border-radius: 50px
  background: linear-gradient(to right, #863981, #CA2D82)
  // background: linear-gradient(to right, rgba(134,57,129, .8), rgba(202,45,130,.9))
  // background: linear-gradient(to right, #111, #fff)
  // box-shadow: 20px 20px 20px rgb(0,0,0,.4)
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.75)
  // border: 3px dotted yellow
  width: 80%
  max-width: 1000px
  height 13em
  // height 20vw
  align-items: flex-end
  margin: auto
  display: flex
  position: relative
  padding: 1em
  > .img
    pointer-events: none
    img
      width: 50%
      height: auto
    @media(max-width:650px)
      display: none
    filter: drop-shadow(0 0 5px white) drop-shadow(2.5px 5px 15px black)
  > .div
    margin-left: -4em
    margin-left: -10%
    width: 60%
    @media(max-width:650px)
      width: 100%
      margin-left: 0

    font-size: 2em
    @media(max-width:900px)
      font-size: 1.8em

    > .p
      color white
      text-shadow: 0 0 3px black, 0 0 5px white, 2px 2px 3px black
    text-align: center
    > a .button
      cursor: pointer
      text-shadow: 0 0 3px white
      font-size: 1.3em
      font-weight: 700
      color: #222
      // font-size: 1.3vh
      background: linear-gradient(to right, #E4C22C, #F8B144)
      border-radius: 50px
      box-shadow: 10px 10px 10px rgb(0,0,0,.4)
      padding .5em
      @media(max-width:1000px)
        padding .1em
      &:active
        box-shadow: 0 0 10px rgb(0,0,0,.4)
      @media(max-width:1068px)
        font-size: .8em
        padding .2em .5em
        margin-bottom: 1em



.testimonial
  // border: 3px dotted blue
  // > *
  //   border: 3px dotted blue
  color white
  background: #009cff
  font-size: 1.3em
  margin: 10vh auto
  display: flex
  align-items: center
  justify-content: center
  // justify-content: space-around
  // @media(min-width:1366px)

  @media(max-width:1068px)
    flex-flow: column
  .p
    text-align: center
    max-width: 600px
    margin-right: 1vw
    // @media(min-width:1068px)
    //   margin-left: 10vw
    //   margin-right: 5vw
    // @media(max-width:1068px)
    //   margin-bottom: 5vw
    // width: 30%
    flex-grow: 3
  .youtube
    // width: 70%
    margin-left: 1vw
    what null
    // height: 100%
    iframe
      what null
      max-width: 100%
      // width 100% !important
      // height: auto
      // height: 100% !important
      // max-width 100% !important
    @media(min-width:1068px)
      what null
      // margin-right: 10vw

.action-2
  // border: 2px dotted
  display: flex
  align-items: center
  position: relative
  max-width: 900px
  margin: 2em auto
  @media(max-width:900px)
    flex-direction: column
  > *
    // border: 1px dotted
    @media(min-width:900px)
      width 50%
  > .img
    // border 3px dotted blue
    pointer-events: none
    position: relative
    @media(min-width:900px)
      right: 10px
    // @media(max-width:900px)
    //   width: 80%
    > .img
      // border 1px dotted yellow
      width: 600px
      // width: 100%
      // filter: drop-shadow(0 0 5px white) drop-shadow(2.5px 5px 15px black)
    z-index: 1
    // text-align: right
    // right: 50%
  > .side
    // border 11px dotted blue
    position: relative
    // @media(min-width:900px)
    //   left: -40px
    border-radius: 30px
    background: linear-gradient(to bottom, rgb(253, 251, 250) 0%, rgb(214, 206, 200) 40%)
    text-align: center
    padding: 1.3em
    font-size: 1.4em
    > .heading
      background: #6A2977
      color: white
      padding: 1em 2em
      // margin: 1em
    > .delivery
      font-size: .8em
      font-weight: bold
      // border 1px solid
      display: flex
      > *
        width: 50%
        margin 1em .25em
      > .label
        text-align: right
      > .data
        text-align: left

    .button
      cursor: pointer
      font-size: 1.5em
      font-weight: bold
      padding: 1em 2em
      border-radius: 30px
      &:not(:active)
        box-shadow: 5px 5px 15px black
      background: orange
    .shield
      margin-top: 2em
      font-size: .6em
      .img
        max-width: 3em
    .footer
      font-size: .6em

.ribbon
  // border: 2px dotted white
  > *
    // border: 2px dotted white
    max-width: 1000px
    margin: auto

  margin-top 2em
  background: #6A2977
  text-align: center
  .img
    max-width: 100px
    margin-top: 1em
  color white
  font-size: 1.2em
  padding: 1em 2em
  .p
    margin: 1em auto
  // padding-bottom: 75px

.textarea
  position: fixed
  font-family: consolas, monospace
  right: 0
  bottom: 0
  width: 100%
  height: 100vh
  height: 100%
  overflow: hidden
  pointer-events: none
  z-index: 1000
  background: transparent
  outline: none
  border: none
  color white
  text-shadow: 3px 3px 10px black
  opacity: 0
  &:hover, &:active, &:focus
    opacity: 1

.slider-paused > *:not(.sliderPausePopup)
  filter: blur(3px)

