
.div
  position: absolute
  width: 100%
  height: 100vh
  height: 100%
  top: 0
  left: 0
  font-size: 2em
  text-align: center
  background: rgba(210, 0, 255, .5)
  // backdrop-filter: blur(2px)
  z-index: 1000

.p
  position: relative
  display: block
  margin: 2em auto
  background: rgba(225, 207, 227, .85)
  padding: 1em
  color: rgb(133, 61, 141)
  font-weight: 300

.arrow
  position: relative
  display: block
  margin: auto
  margin-bottom: 2em
  max-width: 50%

.button
  position: relative
  font-size: 1em
  border-radius: 4px
  border: none
  background: #a6305a
  color white
  padding: .5em
  box-shadow: 3px 3px 10px black
  outline: none
  text-transform: capitalize
  &:active
    left: 3px
    right: 3px
    box-shadow: 1px 1px 3px black
  cursor: pointer
