
.img
  // border 2px dotted red
  margin-bottom: auto
  width: 100%
  max-width: 100%
  @media(max-width:800px)
    max-width: 800px
  @media(max-width:500px)
    max-width: 150%
    margin-left: -25%
  opacity: .8
  filter: drop-shadow(2px 4px 6px black)
