
.header
  padding-top: 1.5em
  text-align: center
  .logo
    width: 300px
    margin: 0 auto;
    filter: drop-shadow(3px 3px 5px #000);
    img
      width: 300px

.header-text
  margin: 0 auto;
  width: 80%
  .h1
    // font-size: 2em
    text-align: center
    color: #fff
    // font-weight: 700
    // font-weight: normal
    filter: drop-shadow(0 0 5px #904be6);
    text-shadow: 0 0 5px #532c77;
  .seperator
    width: 80px;
    height: 5px;
    background: #904be6;
    box-shadow: 5px 5px 10px #000;
    margin: 0 auto;
    margin-bottom: 20px;
  .h2
    color: #fff;
    // font-weight: 500;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
