
.wrapper
  color white
  background-image: url('../../assets/images/backgrounds/quiz-slider-1.jpg')
  background-position: 50% 0
  background-size: cover
  padding-top: 50px
  padding-bottom: 100px
  background-attachment: fixed


.container
  text-align: center
  background: #F9F9F9
  color: black
  border: 1px solid transparent
  box-shadow: 20px 20px 10px rgba(0, 0, 0, .4)
  margin: 1em auto
  padding: 0 1.5em
  @media(min-width:1000px)
    max-width: 65%
  @media(max-width:1000px)
    max-width: 75%
  @media(max-width:600px)
    max-width: 90%


.heading
  // border: 1px solid black
  font-size: 1.5em
  font-weight: bold
  text-transform: uppercase
  margin: 1em auto

.img.archetype
  max-width: 200px
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, .4))

.intro.p
  display: block
  margin: 2em auto
  max-width: 600px
  > .strong
    text-transform: capitalize
    // fon

.box
  font-size: 1.2em
  font-weight: bold
  border: 5px solid yellow
  border-radius: 5px
  background: #FF4068
  color: white
  padding: 1em
  .ul
    text-align: left
    padding: 0
    margin: 1em
  position: relative
  &:before, &:after
    content: ''
    display: inline-block
    position: absolute
    width: 2em
    height: 2em
    transform: rotate(45deg)
    margin-left: -1.1em
  &:before
    bottom: -1.2em
    background: yellow
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1)
  &:after
    margin-top: -.2em
    // background: blue
    background: #FF4068
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4)

.preview
  // width: 100%
  display: flex
  justify-content: space-around
  // border: 3px solid yellow
  > div
    margin: 1em auto
    // display: block
    // width: auto
    width: 28%
    .img
      max-width: 100%
      height: auto
      box-shadow: 5px 5px 2.5px rgba(0, 0, 0, .4)

.form-conainer
  background: #9559CE
  border: 3px solid transparent
  border-radius: 5px
  color white
  padding: 1em
  // box-shadow: 10px 10px 5px rgba(0, 0, 0, .4)
  .p
    font-size: 2em
    font-weight: bold
    +.p
      font-size: 1.5em
  margin: 1em auto
