
.footer
  background: black
  color white
  text-align: center
  padding: 2em
  font-family: nunito, roboto, calibri, helvetica, arial, lucida, sans-serif
  > *
    max-width: 1000px
    margin: auto
  a
    text-decoration: none
    text-transform: capitalize
    color: #a32ff5


.img
  max-width: 300px
