
.testimonials
  placeholder: null
  background: #00AEEF
  color: white
  padding-top: 1em
  display: flex
  flex-direction: column
  align-items: center

.blockquote
  placeholder: null
  position: relative
  max-width: 800px
  display: block
  // margin: 0 auto
  // border: 1px solid


.header
  placeholder: null
  font-size: 1.5em
  // font-family: roboto slab
  font-stretch: ultra-condensed
  letter-spacing: .05em
  word-spacing: .1em


.p
  placeholder: null
  // font-size: 1.25em
  font-weight: 300
  margin: 1em 0
  line-height: 1.5em

.header,.p
  placeholder: null
  &:before
    content: '“'
  &:after
    content: '”'


.footer
  placeholder: null
  > *
    margin-bottom: .5em
  .info
    font-weight: 300


.blockquote
  placeholder: null
  // min-height: 250px
  // max-width: 800px
  // width: 80%
.blockquote > .header
.blockquote > .p
.blockquote > .footer > *:not(.img)
  placeholder: null
  // position: relative
  // left: 225px

.img
  placeholder: null
  // position: absolute
  // top: 0
  // margin: 1em



.blockquote
  // border: 1px dotted
  // > *
  //   border: 1px dotted
  display: flex
  @media(max-width:800px)
    flex-direction: column
    text-align: center
  align-items: center
  justify-content: space-between
  // flex-wrap: wrap
  .img
    placeholder: null
    // border: 1px dotted yellow
    // width: 30%
    // height: auto
  .main
    placeholder: null
    // border: 1px dotted red
    flex-grow: 10
    // width: 100%
    margin-left: 1em
  margin: 2em 1em 3em 1em



img.img
  placeholder: null
  object-fit: cover
  border-radius: 100%
  max-width: 200px
  min-width: 200px
  max-height: 200px
  min-height: 200px
  object-position: top
  // height: 150px
  // overflow: hidden
  // position: absolute
  // top: 0
  // margin: 1em
  @media(max-width:800px)
    max-width: 150px
    min-width: 150px
    max-height: 150px
    min-height: 150px
    margin-bottom: 1em


