<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=0.8, maximum-scale=0.8, minimum-scale=0.8, user-scalable=0' />
    <title>What's Your Archetype?</title>
    <% Object.entries({
      title: `What's Your Archetype?`,
      type: 'website',
      url: 'http://archetype.individualogist.com',
      description: `Unravel The Mysteries of Your True Self By Taking This 60-Second Quiz`,
      // image: '',
      'fb:app_id': htmlWebpackPlugin.options.config.facebook.appId,
      // 'fb:admins': 'YOUR_FACEBOOK_USER_ID',
    }).forEach(([key, value]) => { %>
    <meta name='<%=key%>' content='<%=value%>' />
    <meta property='og:<%=key%>' content='<%=value%>' />
    <meta property='<%=key%>' content='<%=value%>' />
    <% }) %>
    <link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.1/load8.css' />
    <% htmlWebpackPlugin.files.css.forEach(css => { %>
    <link type='text/css' rel='stylesheet' href='<%= css %>' lazyload>
    <% }) %>
  </head>
  <body>
    <div id='app' class='loading'> Loading... (requires javascript) </div>
    <% htmlWebpackPlugin.files.js.forEach(js => { %>
    <script type='text/javascript' src='<%= js %>' defer></script>
    <% }) %>
  </body>
</html>
