
.enter
  opacity: 0
.enter.enter-active
  opacity: 1
  transition: opacity 1s
.leave
  opacity: 1
.leave.leave-active
  opacity: 0
  transition: opacity .5s

:global
  .cSSTransitionGroup
    .markup:not(:first-child)
      // background: yellow
      z-index: -2
      display: none
      // background: blue
      position: absolute
    // border 2px dotted yellow
    // display: flex
    // width: 100%
    // // height: 100%
    // position: absolute
